{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.city) }}
    {{ form_row(form.postalCode) }}
    {{ form_row(form.address) }}
    {{ form_row(form.license) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.password) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
