{% if app.request.attributes.get('_route') == 'franchisee_edit_by_franchisee' %}
    {% set base = 'base_front.html.twig' %}
{% else %}
    {% set base = 'base.html.twig' %}
{% endif %}
{% extends base %}
{% block content %}
    {% if app.request.attributes.get('_route') == 'franchisee_edit_by_franchisee' %}
        <div class="ml-5 mr-5">
    {% else %}
        <div class="content-wrapper">
    {% endif %}
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% block title %}{% endblock %}
                    </div><!-- /.col -->
                    {% if app.request.attributes.get('_route') == 'franchisee_edit' %}
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('franchisee_index') }}">Franchisés</a></li>
                            <li class="breadcrumb-item active">Modifier</li>
                        </ol>
                    </div>
                    {% endif %}
                    <!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    <!-- Main content -->
    {% if app.request.attributes.get('_route') == 'franchisee_edit_by_franchisee' %}
        <section>
        {{ include('franchisee/_form.html.twig', {'button_label': 'Update'}) }}
    {% else %}
        <section class="content">
            {{ include('franchisee/_form1.html.twig', {'button_label': 'Update'}) }}
            <a href="{{ path('franchisee_index') }}"><button class="btn btn-info">Retour</button></a>
    {% endif %}
        </section>
</div>
{% endblock %}
