{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <h1>Franchisee index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>Mail</th>
                    <th>City</th>
                    <th>PostalCode</th>
                    <th>Address</th>
                    <th>License</th>
                    <th>Phone</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for franchisee in franchisees %}
                <tr>
                    <td>{{ franchisee.id }}</td>
                    <td>{{ franchisee.lastName }}</td>
                    <td>{{ franchisee.firstName }}</td>
                    <td>{{ franchisee.mail }}</td>
                    <td>{{ franchisee.city }}</td>
                    <td>{{ franchisee.postalCode }}</td>
                    <td>{{ franchisee.address }}</td>
                    <td>{{ franchisee.license }}</td>
                    <td>{{ franchisee.phone }}</td>
                    <td>
                        <a href="{{ path('franchisee_show', {'id': franchisee.id}) }}">show</a>
                        <a href="{{ path('franchisee_edit', {'id': franchisee.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('franchisee_new') }}"><button class="btn btn-info ml-3 mr-1">Create new</button></a>
    </section>
</div>
{% endblock %}
