{% extends 'base_front.html.twig' %}
{% block content %}

    <section>

        <h4 class="mx-sm-auto" style="width: 200px">{{ 'front.franchisee.stocks.menus_title' | trans }}</h4>


        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><strong>{{ 'front.franchisee.stocks.articles_only' | trans }}</strong></h3>
                    </div>
                    <div class="card-body">
                        {% if franchisee_articles|length > 0 %}
                        <h6 class="card-subtitle"><strong>{{ 'front.stocks.total_before' | trans }} {{ franchisee_articles|length }} {{ 'front.franchisee.stocks.menus_title' | trans }}</strong></h6>
                        {% endif %}
                        {% for article in franchisee_articles %}
                            <p>
                                <em>{{ article.stock }}</em> {{ article.name }} | {{ article.quantity }} {{ article.unit }} {{ 'front.franchisee.stocks.per_unit' | trans }}   {{ article.price |number_format(2) }}€ <a href="{{ path('franchisee_article_edit', { article : article.id}) }}">{{ 'front.stocks.modify' | trans }}</a>
                                <button type="button" class="btn app-color-match stockAdd" nb="{{ article.id }}" ><span class="ui-icon ui-icon-plusthick"></span></button>
                                <button type="button" class="btn app-color-match stockReduce" nb="{{ article.id }}" ><span class="ui-icon ui-icon-minusthick"></span></button>
                            </p>
                        {% endfor %}
                        <br><br>
                        <a href="{{ path('franchisee_article_create' , {'id' : franchisee.id}) }}" class="btn btn-primary app-color-match">{{ 'front.franchisee.new' | trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-4">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><strong>{{ 'front.franchisee.stocks.menues' | trans }}</strong></h3>
                    </div>
                    <div class="card-body">
                        {% if franchisee_menues|length > 0 %}
                            <h6 class="card-subtitle"><strong>Total de {{ franchisee_menues|length }} Menus différents</strong></h6>
                        {% else %}
                            <h6 class="card-subtitle"><strong> Pas encore de Menus</strong></h6>
                        {% endif %}

                        {%  for menu in franchisee_menues %}

                            <p>
                                <a class="btn btn-primary app-color-match" data-toggle="collapse" href="#collapse{{ menu.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="menu_title">{{ menu.name }}</span> | {{ menu.price |number_format(2)}}€
                                </a>
                                <button type="button" class="btn app-color-match menuModify" nb="{{ menu.id }}" qty="1"  ><span class="ui-icon ui-icon-plusthick"></span></button>
                                <button type="button" class="btn app-color-match menuModify" nb="{{ menu.id }}" qty="-1" ><span class="ui-icon ui-icon-minusthick"></span></button>
                            </p>
                            <div class="collapse" id="collapse{{ menu.id }}">
                                <div class="card card-body">
                                    {%  if menuContents[menu.id]['Articles'] != [] %}
                                        <p class="card-subtitle">Articles</p>
                                        {% for article in menuContents[menu.id]['Articles'] %}
                                            <p class="card-text">{{ article.franchiseeArticle.name }}  x{{ article.quantity }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <p class="card-text">Pas d'articles</p>
                                    {% endif %}
                                </div>
                            </div>
                        {%  endfor %}
                        <a href="{{ path('franchisee_menu_new') }}" class="btn btn-primary app-color-match">Nouveau</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </section>
    <div id="myDialog"></div>
{% endblock %}

{% block javascripts %}

    <script>
        const routeStocks = "{{ path('franchisee_article_edit_stock') }}";
        const $myDialog = $('#myDialog');
        const routeMenus = "{{ path('franchisee_modifyMenuQty') }}";
    </script>

    <script>
        $btn_menus = $(".menuModify");

        $btn_menus.on('click' , function(){
           $.ajax({
               url:routeMenus,
               method:'POST',
               data:{
                   menu_id: $(this).attr('nb'),
                   action: $(this).attr('qty'),
               },
               success: function (json){
                   console.log(json.html);
                   console.log(json.success === true);
                   if(json.hasOwnProperty('success') && json.success === true){
                       location.reload();
                   }
                   else{
                       $myDialog.html(json.html);
                       $('.modal').modal('show');
                   }
               }
           })
        });
    </script>


    <script>
        let $buttonsAdd = $('.stockAdd');
        let $buttonsReduce = $('.stockReduce');

        $buttonsAdd.on('click' , function(){
            let $button = $(this);
            $.ajax({
                url: routeStocks,
                method: 'POST',
                data:{
                    article_id: $(this).attr('nb'),
                    detail: 1
                },
                success : function (json){
                    console.log(json);

                    if( json.result === false){
                        let old = parseInt($button.siblings('em').html());
                        $button.siblings('em').html(old+1);
                    }else{
                        $myDialog.html(json.html);
                        $('.modal').modal('show');                    }
                }
            })
        })

        $buttonsReduce.on('click' , function(){
            let $button = $(this);
            $.ajax({
                url: routeStocks,
                method: 'POST',
                data: {
                    article_id: $(this).attr('nb'),
                    detail: -1,
                },
                success: function (json) {
                    console.log(json);
                    if ( json.result === false) {
                        let old = parseInt($button.siblings('em').html());
                        $button.siblings('em').html(old - 1);
                    } else {
                        $myDialog.html(json.html);
                        $('.modal').modal('show');
                    }
                }
            });
        })
    </script>
{% endblock %}