{% extends 'base_front.html.twig' %}
{% block content %}
<div class="ml-5 mr-5">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section>
        <h1>{{ franchisee.lastName|upper }} {{ franchisee.firstName|upper }}</h1>
        <div class="row">
            <div class="col-sm-3">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <strong>{{ 'front.franchisee.you'| trans }}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>{{ franchisee.mail }}</p>
                                <p>{{ franchisee.phone }}</p>
                            </div>
                            <div class="col-sm-6">
                                <p>{{ franchisee.license }}</p>
                                <p>{{ franchisee.address }} {{ franchisee.city }} {{ franchisee.postalCode }}</p>
                            </div>
                        </div>
                        <p><a href="{{ path('franchisee_edit_by_franchisee', { id: franchisee.id } ) }}">{{ 'front.franchisee.change_informations'| trans }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <strong>{{ 'front.franchisee.last_invoices'| trans }}</strong>
                    </div>
                    {% if invoices is not null %}
                        <div class="card-body">
                            {% for invoice in invoices %}
                                {% if app.request.attributes.get('_locale') == 'en' %}
                                    <p>{{ invoice.date|date("m/d/y") }} {{ invoice.ammount }}€  <a href="{{ path('invoice_show', {'id': invoice.id}) }}" target="_blank">{{ 'front.franchisee.check'| trans }}</a></p>
                                {% else %}
                                    <p>{{ invoice.date|date("d/m/y") }} {{ invoice.ammount }}€  <a href="{{ path('invoice_show', {'id': invoice.id}) }}" target="_blank">{{ 'front.franchisee.check'| trans }}</a></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <strong>{{ 'front.franchisee.more_stuff'| trans }}</strong>
                    </div>
                    {% if franchisee.truck != null %}
                        <div class="card-body">
                            <p><a href="{{ path('order_new_warehouse') }}">{{ 'front.franchisee.order'|trans }}</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <strong>{{ 'front.franchisee.tell_us'|trans }}</strong>
                    </div>
                    <div class="card-body">
                        {% if franchisee.truck != null %}
                            <p><a href="#">{{ 'front.franchisee.truck_pb' | trans }}</a></p>
                            {# TODO: link the page to fill a truck complaint form #}
                            <p><a href="{{ path('truck_position_new') }}">{{ 'front.franchisee.position'|trans }}</a></p>
                            <p><a href="{{ path('invoice_new') }}">{{ 'front.franchisee.month'| trans }}</a></p>
                        {% endif %}
                        {# TODO: link the page to fill a number declaration #}
                        <p><a href="{{ path('franchisee_complaint_new') }}">{{ 'front.franchisee.anything_else'| trans }}</a></p>
                    </div>
                </div>
            </div>
            {% if franchisee.franchiseeComplaints is not null %}
                <div class="col-sm-2">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <strong>{{ 'front.franchisee.questions'|trans }}</strong>
                        </div>
                        <div class="card-body">
                            {% for complaint in franchisee.franchiseeComplaints %}
                                <p>
                                    {{ complaint.title }}
                                    {% if complaint.isNew %}
                                        <button class="btn btn-success disabled">{{ 'front.franchisee.new'|trans }}</button>
                                    {% endif %}
                                    {% if complaint.isOngoing %}
                                        <button class="btn btn-info disabled">{{ 'front.franchisee.ongoing'|trans }}</button>
                                    {% endif %}
                                    {% if complaint.isClosed %}
                                        <button class="btn btn-danger disabled">{{ 'front.franchisee.closed'|trans }}</button>
                                    {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if franchisee.truck is not null %}
            <div class="row">
                <div class="col-sm-3">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <strong>{{ 'front.franchisee.truck'|trans }}</strong>
                        </div>
                        <div class="card-body">
                            <p>{{ 'front.franchisee.truck_number'|trans }} : {{ franchisee.truck.registration }}</p>
                            <p>{{ 'front.franchisee.actual_position'|trans }} : {{ posAddress }} {{ posCity }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}
