{% extends 'base_front.html.twig' %}
{% block content %}

    <section>

        <h4 class="mx-sm-auto" style="width: 200px">{{'front.stocks.detail' | trans}}</h4>


        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><strong>{{'front.stocks.products.title' | trans}}</strong></h3>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle"><strong>{{'front.stocks.total_before' | trans}} {{ products|length }} {{'front.stocks.products.total_after' | trans}}</strong></h6>
                        {% for product in products %}
                        <p>{{ product.name }} {{ product.quantity }} {{ product.unit }} <a href="{{ path('stock_product_edit', { id: franchisee.id , stockProduct : product.id}) }}">{{'front.stocks.modify' | trans}}</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>

            <div class="col-sm-4">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><strong>{{'front.stocks.plates.title' | trans}}</strong></h3>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle"><strong>{{'front.stocks.total_before' | trans}} {{ dishes|length }} {{'front.stocks.plates.total_after' | trans}}</strong></h6>
                        {% for dish in dishes %}
                            <p>{{ dish.name }} {{ dish.quantity }} <a href="{{ path('stock_dish_edit', { id: franchisee.id , stockDish : dish.id}) }}">{{'front.stocks.modify' | trans}}</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </section>
{% endblock %}