<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Home Page</title>

     <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="{{ asset('variables.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('adminlte/plugins/jquery-ui/jquery-ui.min.css') }}">


</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('connectCardFront') }}
    <!-- Navbar -->
    {% include 'blocks_front/navbar_front.html.twig' %}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Content Wrapper. Contains page content -->
    {% block content %}

        <button id="launcher" class="active"> {{ 'front.webGL.launcher' | trans }} </button>

        <div id="webGl" class="inactive">

            <div id="blocker">
                <div id="exit_info" class="inactive">
                    <span>{{ 'front.webGL.exit' | trans }}</span>
                </div>

                <div id="instructions" class="inactive">
                    <span style="font-size:36px">{{ 'front.webGL.play' | trans }}</span>
                    <br /><br />
                    {{ 'front.webGL.controls.move' | trans }}: WASD<br/>
                    {{ 'front.webGL.controls.jump' | trans}}: SPACE<br/>
                    {{ 'front.webGL.controls.look' | trans}}: MOUSE
                </div>

            </div>



        </div>
        {{ encore_entry_script_tags('weGLinit') }}
    {% endblock content %}
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->

    <!-- Main Footer-->
    {% include 'blocks_front/footer_front.html.twig' %}

</div>
<!-- ./wrapper -->



<!-- REQUIRED SCRIPTS -->

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ asset('adminlte/plugins/jquery-ui/jquery-ui.min.js') }}"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>

</body>
{% block javascripts %}{% endblock %}
</html>
