{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_home')}}">Home</a></li>
                        <li class="breadcrumb-item active">Origin Index</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <h1>ProductOrigin index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Country</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product_origin in product_origins %}
                <tr>
                    <td>{{ product_origin.id }}</td>
                    <td>{{ product_origin.country }}</td>
                    <td>
                        <a href="{{ path('product_origin_show', {'id': product_origin.id}) }}">Voir</a> /
                        <a href="{{ path('product_origin_edit', {'id': product_origin.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('product_origin_new') }}"><button class="btn btn-info ml-3 mr-1">Create new</button></a>
    </section>
</div>
{% endblock %}
