{% extends 'base.html.twig' %}

{% block title %}ProductOrigin{% endblock %}

{% block body %}
    <h1>ProductOrigin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ product_origin.id }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ product_origin.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_origin_index') }}">Retour</a>

    <a href="{{ path('product_origin_edit', {'id': product_origin.id}) }}">Modifier</a>

    {{ include('product_origin/_delete_form.html.twig') }}
{% endblock %}
