{% extends 'base.html.twig' %}

{% block title %}ProductOrigin{% endblock %}

{% block body %}
    <h1>ProductOrigin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_origin.id }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ product_origin.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_origin_index') }}">back to list</a>

    <a href="{{ path('product_origin_edit', {'id': product_origin.id}) }}">edit</a>

    {{ include('product_origin/_delete_form.html.twig') }}
{% endblock %}
