<div class="card card-primary card-outline">
    <div class="card-header">
        {% if(app.request.attributes.get('_route') == 'product_new') %}
            <h3>Créer un nouveau produit</h3>
        {% else %}
            <h3>Modifier produit</h3>
        {% endif %}
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div>
            {{ form_errors(form) }}
        </div>
        <div class="form-group">
            {{ form_row(form.name) }}
            {% if (app.request.attributes.get('_route') == 'product_edit') %}
                <div id="divTrad">

                </div>
                <div class="row">
                    <div class="ml-2 col-sm-1 btn-info" id="En" onclick="addTrad('en', 'name')">Traduction En</div>
                    <div class="ml-1 col-sm-1 btn-info" id="Es" onclick="addTrad('es', 'name')">Traduction Es</div>
                </div>

            {% endif %}
        </div>
        <div class="form-group">
            {{ form_row(form.price) }}
        </div>
        <div class="form-group">
            {{ form_row(form.category) }}
        </div>
        <div class="form-group">
            {{ form_row(form.origin) }}
        </div>
        <div class="form-group">
            {{ form_row(form.unit) }}
        </div>
        <div class="form-group">
            {{ form_row(form.unit_quantity) }}
        </div>
        <div class="row">
            {{ form_row(form.save) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>
