{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item active">Produits</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <h1>Liste des Produits</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom du Produit</th>
                    <th>Prix</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category }}</td>
                    <td>
                        <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Rien à afficher</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('product_new') }}"><button class="btn btn-info ml-3 mr-1">Nouveau</button></a>
        <a href="{{ path('product_trad') }}"><button class="btn btn-info ml3">Traductions</button></a>
    </section>
</div>
{% endblock %}
