{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item active">Commandes</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <h1>Historique des Commandes</h1>

        <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.date ? order.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.ammount }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">Voir</a> /
                    <a href="{{ path('order_edit', {'id': order.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Rien à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new_warehouse') }}"><button class="btn btn-info ml-3 mr-1">Créer</button></a>
    </section>
</div>
{% endblock %}
