{% extends 'base_front.html.twig' %}
{% block content %}
    {{ encore_entry_script_tags('orderDish') }}
    <div class="mr-5 ml-5">
    <!-- Main content -->
    <section class="content">
        <h2>{{'front.order.products.order'|trans}} <label id="orderNumber">{{ order.id }}</label></h2>
        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <h2>{{'front.order.products.products'|trans}}</h2>
                    <thead>
                    <tr>
                        <th scope="col">{{'front.order.products.name'|trans}}</th>
                        <th scope="col">{{'front.order.products.available_quantity'|trans}}</th>
                        <th scope="col">{{'front.order.products.price'|trans}}</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set inc = 1 %}
                    {% for products in list['products'] %}
                        <tr class="product">
                            <td class="productName"><label class="d-none">{{ products.product }}</label><p>{{ products.product }}</p></td>
                            <td class="productQuantityInfo"><label>{{ products.quantity }}</label></td>
                            <td class="productPrice"><label>{{ products.price }}</label> €</td>
                            <td class="productQuantity">
                                <label>
                                    <input type="number" min="1"  max="{{ products.quantity }}">
                                </label>
                                <button class="btn btn-info" onclick="sendToController({{ inc }}, 'product')">{{'front.order.products.add_card'|trans}}</button>
                            </td>
                        </tr>
                        {% set inc = inc + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <h2>{{'front.order.products.dish'|trans}}</h2>
                    <thead>
                    <tr>
                        <th scope="col">{{'front.order.products.name'|trans}}</th>
                        <th scope="col">{{'front.order.products.available_quantity'|trans}}</th>
                        <th scope="col">{{'front.order.products.price'|trans}}</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set inc = 1 %}
                    {% for dish in list['dishes'] %}
                            <tr class="dish">
                                <td class="dishName"><label class="d-none">{{ dish.dish }}</label><p>{{ dishT[inc-1]['name'] }}</p></td>
                                <td class="dishQuantityInfo"><label>{{ dish.quantity }}</label></td>
                                <td class="dishPrice"><label>{{ dish.price }}</label> €</td>
                                <td class="dishQuantity">
                                    <label>
                                        <input type="number" min="1"  max="{{ dish.quantity }}">
                                    </label>
                                    <button class="btn btn-info" onclick="sendToController({{ inc }}, 'dish')">{{'front.order.products.add_card'|trans}}</button>
                                </td>
                            </tr>
                            {% set inc = inc + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!--<a href="{{ path('order_recap', {'id': order.id }) }}"><button class="btn btn-info">Valider</button></a>-->
    </section>
        <div class="base_paiement cell">
            <form action="{{ path('payement', {'id': order.id }) }}" method="post" id="payment-form">
                <fieldset>
                    <div id="paiement" class="form-row">
                        <legend class="card-only" for="card-element">
                            {{'front.order.products.pay_cart'|trans}}
                        </legend>
                        <div class="container container_paiement">
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                            <button class="button_payer">{{'front.order.products.pay'|trans}}</button>
                        </div>
                    </div>
                </fieldset>
                <!-- Used to display Element errors. -->
                <div id="card-errors" role="alert"></div>
            </form>
        </div>
</div>
{% endblock %}