{% extends 'base.html.twig' %}

{% block title %}Entrepôt{% endblock %}

{% block body %}
    <h1>Entrepôt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ warehouse.id }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ warehouse.city }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ warehouse.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('warehouse_index') }}">Retour</a>

    <a href="{{ path('warehouse_edit', {'id': warehouse.id}) }}">Modifier</a>

    {{ include('warehouse/_delete_form.html.twig') }}
{% endblock %}
