{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item active">Plats</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
    <h1>ExternalInvoice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>InvoiceFileName</th>
                <th>Ammount</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for external_invoice in external_invoices %}
            <tr {{ (external_invoice.ammount is null) ? 'style="background-color: #E5735E;"' }}>
                <td>{{ external_invoice.id }}</td>
                <td>{{ external_invoice.invoiceFileName }}</td>
                <td>{{ external_invoice.ammount }}</td>
                <td>{{ external_invoice.date ? external_invoice.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('external_invoice_edit', {'id': external_invoice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
</div>
{% endblock %}
