{% extends 'base.html.twig' %}

{% block title %}ExternalInvoice{% endblock %}

{% block body %}
    <h1>ExternalInvoice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ external_invoice.id }}</td>
            </tr>
            <tr>
                <th>InvoiceFileName</th>
                <td>{{ external_invoice.invoiceFileName }}</td>
            </tr>
            <tr>
                <th>Ammount</th>
                <td>{{ external_invoice.ammount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ external_invoice.date ? external_invoice.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('external_invoice_index') }}">back to list</a>

    <a href="{{ path('external_invoice_edit', {'id': external_invoice.id}) }}">edit</a>

    {{ include('external_invoice/_delete_form.html.twig') }}
{% endblock %}
