{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <h1>Liste des Demandes</h1>

        <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Réponse</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for franchisee_complaint in franchisee_complaints %}
            {% if franchisee_complaint.isNew %}
                <tr style="background-color: limegreen;">
            {% elseif franchisee_complaint.isOngoing %}
                <tr style="background-color: cornflowerblue">
            {% elseif franchisee_complaint.isClosed %}
                <tr style="background-color: #E5735E;">
            {% endif %}
                <td>{{ franchisee_complaint.id }}</td>
                <td>{{ franchisee_complaint.title }}</td>
                <td>{{ franchisee_complaint.content }}</td>
                <td>{{ franchisee_complaint.answer }}</td>
                {% if franchisee_complaint.isNew %}
                    <td>Nouvelle Demande</td>
                {% endif %}
                {% if franchisee_complaint.isOngoing %}
                    <td>En cours de réponse</td>
                {% endif %}
                {% if franchisee_complaint.isClosed %}
                    <td>Fermé</td>
                {% endif %}
                <td>
                    <a href="{{ path('franchisee_complaint_edit', {'id': franchisee_complaint.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Rien à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('franchisee_complaint_new') }}">Créer</a>
    </section>
</div>
{% endblock %}
