{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
    <h1>FranchiseeComplaint</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ franchisee_complaint.id }}</td>
            </tr>
            <tr>
                <th>Franchisee</th>
                <td>{{ franchisee_complaint.franchisee }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ franchisee_complaint.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ franchisee_complaint.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('franchisee_complaint_index') }}">back to list</a>

    <a href="{{ path('franchisee_complaint_edit', {'id': franchisee_complaint.id}) }}">edit</a>

    {{ include('franchisee_complaint/_delete_form.html.twig') }}
    </section>
</div>
{% endblock %}
