{% extends 'base_front.html.twig' %}
{% block content %}
<div class="ml-5 mr-5">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
    <h1>FranchiseeComplaint</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ franchisee_complaint.id }}</td>
            </tr>
            <tr>
                <th>Franchisee</th>
                <td>{{ franchisee_complaint.franchisee }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ franchisee_complaint.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ franchisee_complaint.content }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ franchisee_complaint.answer }}</td>
            </tr>
            <tr>
                <th>Status</th>
                {% if (franchisee_complaint.isNew) %}
                    <td>New Request</td>
                {% elseif (franchisee_complaint.isOngoing) %}
                    <td>Ongoing</td>
                {% else %}
                    <td>Closed</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    </section>
</div>
{% endblock %}
