<!-- Footer -->
{% set route = app.request.attributes.get('_route') %}
<footer class="page-footer font-small navbar-light mb-0"
        style="background-color: #80c2e0; bottom:0; width:100%;
        {% if route == 'home' or route =='homepage' %}position:fixed;{% endif %}">
    <div class="container">

        <!-- Bloc top -->
        <div class="row text-center d-flex justify-content-center pt-2">
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">{{'front.footer.about' | trans}}</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">{{ 'front.footer.contact' | trans}}</a>
                </h6>
            </div>
        </div>
        <!-- End bloc top -->

        <hr class="rgba-blue-light" style="margin: 0 ;">

        <!-- Bloc middle-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-2">
            <div class="col-md-8 col-12 mt-2">
                <p style="line-height: 1.7rem">
                   {{ 'front.footer.description' | trans }}
                </p>
            </div>
        </div>
        <!-- End bloc middle -->

        <hr class="rgba-blue-light" style="margin: 0 ">

        <!-- Bloc bottom -->
        <div class="row mb-1">
            <div class="col-md-12">
                <div class="mb-5 flex-center">
                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End bloc bottom -->
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">
        <strong>{{ 'front.footer.copyright' |trans }} <b>{{ 'front.footer.drivncook' |trans}}</b>.</strong> {{ 'front.footer.rights' | trans }}
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->