<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light" style="background-color: #80c2e0;">
    <a href="{{ path('home') }}" class="navbar-brand white-text" >
        <img src="{{ asset('Images/logo2.png') }}" alt="Home" class="brand-image rounded-circle z-depth-1 w-25">
        Driv'n Cook
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            {% if app.user != null %}
                <li class="nav-item">
                    <a class="nav-link white-text" href="{{ path('franchisee_show', {'id': app.user.id}) }}">
                        {{ 'front.header.my_account'| trans}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white-text" href="{{ path('franchisee_stock', {'id': app.user.id})  }}">Mon inventaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white-text" href="{{ path('franchisee_menu', { 'id' : app.user.id }) }}">Ma carte</a>
                </li>
            {% endif %}
            <a href="{{ path('home', {'_locale': 'en'}) }}" class="nav-link {{ (app.request.attributes.get('_locale') == 'en' ) ? 'd-none' }}">EN</a>
            <a href="{{ path('home', {'_locale': 'fr'}) }}" class="nav-link {{ (app.request.attributes.get('_locale') == 'fr' ) ? 'd-none' }}">FR</a>
            <a href="{{ path('home', {'_locale': 'es'}) }}" class="nav-link {{ (app.request.attributes.get('_locale') == 'es' ) ? 'd-none' }}">ES</a>
        </ul>
        <ul class="navbar-nav ml-auto ">
            {% if app.user == null %}
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light white-text" href="{{ path('login') }}">
                        {{ 'front.header.login' | trans}}
                    </a>
                </li>
            {% endif %}
            {% if app.user != null %}
                <li class="nav-item">
                    <a class="nav-link white-text" href="{{ path('app_logout') }}">
                     {{ 'front.header.logout' | trans}}
                    </a>
                </li>
            {% endif %}
            <!--
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle white-text" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">

                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                     aria-labelledby="navbarDropdownMenuLink-55" style="background-color: #80c2e0;">
                    <a class="dropdown-item white-text" style="background-color: #80c2e0;" href="#">Profil</a>
                    <a class="dropdown-item white-text" style="background-color: #80c2e0;" href="#">Paramètre</a>
                </div>
            </li>-->
        </ul>
    </div>
</nav>
<!--/.Navbar -->