<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% block title %}
                            <h1 class="m-0 text-dark">Accueil</h1>
                        {% endblock %}
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0">Produits</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Il y a  {{ productnbre }} produits présents dans notre base
                                </p>
                                <p class="card-text">
                                    Il y a {{ catnbre }} categories présents dans notre base
                                </p>
                                <p class="card-text">
                                    Il y a {{ originbre }} origins présents dans notre base
                                </p>
                                <a href="{{ path('product_new')}}" class="card-link">Ajouter produits</a>
                                <a href="{{ path('product_category_new')}}" class="card-link">Ajouter des catégories</a>
                                <a href="{{ path('product_origin_new') }}" class="card-link">Ajouter des origines</a>
                            </div>
                        </div><!-- /.card -->

                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0">Franchisés</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Il y a {{ franchiseenbre }} franchisés qui ont rejoint notre grande franchise !
                                </p>
                            </div>
                        </div>
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0">Plats préparés</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Il y a {{ dishnbre }} plats présents dans notre base de données
                                </p>
                                <a href="{{ path('dish_new') }}" class="card-link">Ajouter des plats</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-lg-6">
                        {% if (franchiseewithouttrucknbre != 0) %}
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0">Franchisés sans camions</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">{{ franchiseewithouttrucknbre }}</h6>
                                <p class="card-text"></p>
                                <a href="{{ path('franchisee_index') }}" class="btn btn-primary">Ajouter les camions</a>
                            </div>
                        </div>
                        {% endif %}


                        <div class="card card-primary card-outline">
                            <div class="card-body">
                                <h5 class="card-title">Camions</h5>
                                <p class="card-text">
                                    Il y a {{ trucknbre }} camions présents dans notre base
                                </p>
                                <a href="{{ path('truck_new') }}" class="card-link">Enregistrer de nouveaux Camions</a>
                            </div>
                        </div>
                        <div class="card card-primary card-outline">
                            <div class="card-body">
                                <h5 class="card-title">Répartition des franchisés</h5>
                            </div>
                            <div class="loader"></div>
                            <canvas id="rank_display"></canvas>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->

                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>