<aside class="main-sidebar sidebar-light-blue elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('admin_home') }}" class="brand-link">
        <img src="{{ asset('Images/logo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">DRIV'N COOK</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {% if (app.user.roles[0] != 'ROLE_RH') %}
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-folder"></i>
                            <p>Entrepôts
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('warehouse_index') }}" class="nav-link">
                                    <i class="nav-icon fas fa-warehouse"></i>
                                    <p>Entrepôts</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('product_index') }}" class="nav-link">
                                    <i class="nav-icon fas fa-egg"></i>
                                    <p>Produits</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('product_origin_index') }}" class="nav-link">
                                    <i class="nav-icon fas fa-globe-europe"></i>
                                    <p>Origines</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('product_category_index') }}" class="nav-link">
                                    <i class="nav-icon fas fa-box"></i>
                                    <p>Categories</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('dish_index') }}" class="nav-link">
                                    <i class="nav-icon fas fa-hotdog"></i>
                                    <p>Plats préparés</p>
                                </a>
                            </li>
                        </ul>
                </li>
                {% endif %}
                {% if (app.user.roles[0] != 'ROLE_LOGISTIC') %}
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-folder"></i>
                        <p>Franchisés
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('franchisee_index') }}" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Franchisés</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('invoice_index') }}" class="nav-link">
                                <i class="nav-icon fas fa-file-alt">
                                </i>
                                    <p>Commandes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('franchisee_complaint_index') }}" class="nav-link">
                                <i class="nav-icon fas fa-file-alt">
                                </i>
                                <p>Demandes</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('truck_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>Camions</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('truck_complaint_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-truck"></i>
                        <p>Camions Plaintes</p>
                    </a>
                </li>
                {% if (app.user.roles[0] == 'ROLE_SUPER_ADMIN') %}
                <li class="nav-item">
                    <a href="{{ path('user_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Comptes Admin</p>
                    </a>
                </li>
                {% endif %}
                {% if (app.user.roles[0] != 'ROLE_LOGISTIC') %}
                <li class="nav-item">
                    <a href="{{ path('user_index') }}" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Chiffre d'affaires</p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>