<div class="card card-primary card-outline">
    <div class="card-header">
        {% if(app.request.attributes.get('_route') == 'dish_new') %}
            <h3>Create Dish</h3>
        {% else %}
            <h3>Modifier Dish</h3>
        {% endif %}
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div>
            {{ form_errors(form) }}
        </div>
        <div class="form-group">
            {{ form_row(form.name) }}
        </div>
        <div class="form-group">
            {{ form_row(form.price) }}
        </div>
        <div class="form-group">
            {{ form_row(form.product, {label_attr: {class: 'checkbox-customl'} }) }}
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Add</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>