{% extends 'base.html.twig' %}

{% block title %}Dish{% endblock %}

{% block body %}
    <h1>Dish</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ dish.id }}</td>
            </tr>
            <tr>
                <th>Nom du plat</th>
                <td>{{ dish.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ dish.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dish_index') }}">Retour</a>

    <a href="{{ path('dish_edit', {'id': dish.id}) }}">Modifier</a>

    {{ include('dish/_delete_form.html.twig') }}
{% endblock %}
