{% extends 'base.html.twig' %}
{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% block title %}{% endblock %}
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Accueil</a></li>
                            <li class="breadcrumb-item">Produits</li>
                            <li class="breadcrumb-item active">Traductions</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <section class="content">
            {% set i = 0 %}
            {% for product in products %}
                <p>{{ product.name }}</p>
                <div>
                    <label>EN</label><input type="text" id="{{ i }}EN" value="{{ en[i]|join(',') }}">
                    <label>ES</label><input type="text" id="{{ i }}ES" value="{{ es[i]|join(',') }}">
                    <button formnovalidate onclick="addTrad({{ i }}, 'dish')">Save</button>
                </div>
                {% set i = i+1 %}
            {% endfor %}
        </section>
    </div>
    {{ encore_entry_script_tags('trad') }}
{% endblock %}