<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"><strong>{{ 'front.cashier.incoming.title' | trans }}</strong></h3>
    </div>
    <div class="card-body">

        {% for order in orders %}
            <a class="btn btn-primary app-color-match" data-toggle="collapse"
               href="#collapse{{ order.id }}" role="button" aria-expanded="false"
               aria-controls="collapseExample">
                Order n° {{ order.id }} {{ order.customer.name }}
            </a>

            <span><button class="btn btn-info incomingOrder app-color-match" id="order{{ order.id }}"><span class="ui-icon ui-icon-check"></span></button></span>

            <div class="collapse" id="collapse{{ order.id }}">
                <div class="card card-body">
                    {%if order.menues is not null %}
                        {% for menu in order.menues %}
                            <p> {{ menu.name }}  x{{ menu.quantity }}
                            <input type="checkbox" class="ml-2">{{ 'front.cashier.incoming.rdy' | trans }}
                            </p>
                        {% endfor %}

                        {% for article in order.articles %}
                            <p> {{ article.name }}  x{{ article.quantity }}
                                <input type="checkbox" class="ml-2">{{ 'front.cashier.incoming.rdy' | trans }}
                            </p>
                        {% endfor %}
                    {% else %}
                        <p>{{ 'front.cashier.incoming.no_orders' | trans }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
