{% extends 'base_front.html.twig' %}
{% block content %}
    {{ encore_entry_script_tags('turnover') }}
    <div class="p-5  mt-1">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% block title %}{% endblock %}
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Starter Page</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <section class="content">
            <h2>{{ 'front.turnover.pay_current_month'|trans }} <label
                        id="orderNumber">{{ turnover.date|date_modify("-1 month")|date('M') }}</label></h2>
            <div class="row m-5 pb-5">
                <div class="m-auto">
                    <h3>{{'front.turnover.statement_of_turnover_1'|trans}} {{ turnover.amount }} {{'front.turnover.statement_of_turnover_2'|trans}} {{ turnover.date|date_modify("-1 month")|date("M") }} </h3>
                    <h3>{{'front.turnover.statement_of_turnover_3'|trans}} {{ turnover.percentAmount }} euros </h3>
                </div>
            </div>
            <div class="base_paiement cell ">
                <form action="{{ path('turnover_payement', {'id': turnover.id }) }}" method="post" id="payment-form">
                    <fieldset>
                        <div id="paiement" class="form-row">
                            <legend class="card-only" for="card-element">
                                {{ 'front.order.products.pay_cart'|trans }}
                            </legend>
                            <div class="container container_paiement">
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>
                                <button class="button_payer">{{ 'front.order.products.pay'|trans }} {{ turnover.percentAmount }}
                                    €
                                </button>
                            </div>
                        </div>
                    </fieldset>
                    <!-- Used to display Element errors. -->
                    <div id="card-errors" role="alert"></div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}