{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ 'truck_complaint_index' }}">Remarques Camions</a></li>
                        <li class="breadcrumb-item active">Gérer</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">

    {{ include('truck_complaint/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('truck_complaint_index') }}">Retour</a>
    </section>
</div>
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('deleteObj') }}{% endblock %}
