{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Date</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for truck_complaint in truck_complaints %}
            <tr>
                <td>{{ truck_complaint.id }}</td>
                <td>{{ truck_complaint.date ? truck_complaint.date|date('Y-m-d') : '' }}</td>
                <td>{{ truck_complaint.title }}</td>
                <td>{{ truck_complaint.content }}</td>
                <td>
                    <a href="{{ path('truck_complaint_show', {'id': truck_complaint.id}) }}">Voir</a> /
                    <a href="{{ path('truck_complaint_edit', {'id': truck_complaint.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('truck_complaint_new') }}"><button class="btn btn-info ml-3 mr-1">Create new</button></a>
    </section>
</div>
{% endblock %}
