{% extends 'base_front.html.twig' %}
{% block content %}
    <h1>Plainte Camion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ truck_complaint.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ truck_complaint.date ? truck_complaint.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ truck_complaint.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ truck_complaint.content }}</td>
            </tr>
            <tr>
                <th>Réponse</th>
                <td>{{ truck_complaint.answer }}</td>
            </tr>
            <tr>
                <th>Camion</th>
                <td>{{ truck_complaint.truck }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
