{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('product_category_index') }}">Category index</a></li>
                        <li class="breadcrumb-item active">Category Edit</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
    {{ include('product_category/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="row">
            <a href="{{ path('product_category_index') }}"><button class="btn btn-info ml-3 mr-1">back to list</button></a>
            {{ include('product_category/_delete_form.html.twig') }}
        </div>



    </section>
</div>
{% endblock %}
