{% extends 'base.html.twig' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {% block title %}{% endblock %}
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_home') }}">Home</a></li>
                        <li class="breadcrumb-item active">Category Index</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <h1>Liste des Catégories</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product_category in product_categories %}
                <tr>
                    <td>{{ product_category.id }}</td>
                    <td>{{ product_category.name | capitalize }}</td>
                    <td>
                        <a href="{{ path('product_category_show', {'id': product_category.id}) }}">Voir</a> /
                        <a href="{{ path('product_category_edit', {'id': product_category.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Rien à afficher</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('product_category_new') }}"><button class="btn btn-info ml-3 mr-1">Nouveau</button></a>
        <a href="{{ path('product_category_trad') }}"><button class="btn btn-info ml3">Traduction</button></a>
    </section>
</div>
{% endblock %}
