{% extends 'base.html.twig' %}

{% block title %}Position du Camion{% endblock %}

{% block body %}
    <h1>Position du Camion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ truck_position.id }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ truck_position.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ truck_position.latitude }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ truck_position.date ? truck_position.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('truck_position_index') }}">Retour</a>

    <a href="{{ path('truck_position_edit', {'id': truck_position.id}) }}">Modifier</a>

    {{ include('truck_position/_delete_form.html.twig') }}
{% endblock %}
